<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{{ title }}</title>
        {% block head_meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scaled=1.0">
            <meta name="author" content="manhdoi">
            <meta name="theme-color" content="#000000">
        {% endblock %}

        {% block head_css %}
            <link href="{{ url_for('auth.static', filename='render/css/style.css') }}" rel="stylesheet"/>
            <link href="{{ url_for('auth.static', filename='render/css/side-bar.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block head_js %}
            <script src="{{ url_for('auth.static', filename='render/dist/index.js') }}"></script>
        {% endblock %}
    {% endblock %}
</head>

<body style="background: #dadada">
<main class="d-flex flex-nowrap">
    {% set applications = inject_applications() %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img class="me-2" src="{{ url_for('auth.static', filename='render/logo.svg') }}" alt=""
                     width="30" height="24"/><strong>PyRender</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% for application in applications %}
                        {% set url = url_for("{}.index".format(application.bp.name)) %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url }}">{{ application.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-danger">
                    <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
                </button>

            </div>
        </div>
    </nav>
    {% block application_content %}

    {% endblock %}
</main>
</body>

</html>