{% extends 'render/base.html' %}

{% block application_content %}
    <div class="flex-shrink-0 pt-3" style="width: 280px; background: white; margin-top: 55px">
        {% set menu = inject_menu() %}

        <ul class="list-unstyled ps-0">
            {% for group in menu %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        {{ group }}
                    </button>
                    <div class="collapse show" id="home-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                            {% for item in menu[group] %}
                                <li><a href="{{ item.url }}"
                                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container-fluid ms-0 p-1" style="margin-top: 55px">
        <div style="background: white; height: 100vh">
            <div class="container-fluid" style="overflow-y: auto; height: 94vh">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
