<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="{{ url_for('auth.static', filename='render/dist/index.js') }}"></script>
    <link href="{{ url_for('auth.static', filename='render/css/sign-in.css') }}" rel="stylesheet"/>
</head>

<meta name="logo" content="{{ url_for('auth.static', filename='render/logo.svg') }}">
<meta name="csrf_token" content="{{ csrf_token() }}">
<meta name="flashed_messages" content="{{ flashed_messages }}">
<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-signin w-100 m-auto" id="root_container">

</main>

{% block content %}

{% endblock %}


</body>

</html>